// register.scss

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .form-container {
    max-width: 600px;

    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    .ant-form-item {
      margin-bottom: 24px;
    }

        &-label {
            label {
              font-weight: bold;
              display: block;
              margin-bottom: 8px;
            }
          }

          &-control {
            .ant-input-affix-wrapper {
              input[type="password"] {
                padding-right: 40px; // Increase the padding to make room for the visibility toggle icon
              }
            }
          }

          &-explain {
            margin-top: 10px; // Add margin-top to create space below the error message
          }
        }

    .ant-btn-primary {
      margin-top: 16px;
    }
}
