.custom-background {
  background-color: #2b3345;
  color:#DCD7C9;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container.marketing {
  margin-top: 5rem;
}

.chatbot-container {
  position: fixed;
  top: 650px;
  transform: translate(0, 0);
  right: 5%;
  z-index: 1001;
}

.transparent-button {
  background-color: white;
  border: 2px solid #45656C;
  color: #45656C ;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.transparent-button:hover {
  background-color: #45656C; 
  color: #fff; 
  border-color: #45656C;
}

.featurette-divider {
  margin: 5rem 0;
}
.featurette-divider1 {
  margin: 3rem 0;
}
.featurette-heading {
  font-weight: 500;
  line-height: 1.2;
}

.featurette p {
  font-size: 18px;
  line-height: 1.5;
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


}


/* Media Query for Small Screens */
@media (max-width: 767px) {
  .container.marketing {
    margin-top: 2rem; /* Adjust as needed for spacing */
  }

  .chatbot-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; /* Adjust as needed for spacing */
    z-index: 1; /* Bring chatbot container to the front */
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    transform: translate(0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .carousel-inner {
    max-height: 50vh; /* Adjust as needed for image size */
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* Hide carousel controls for small screens */
  }
}