.footer {
background-color: #2b3345;
  color:#DCD7C9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  margin-top: 0;
  text-align: center;
  padding-top: 5px;
}
