.container{
  margin-top: 10px;
  padding-top: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    aspect-ratio: 1/1;
    
  }
  
  .card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .card-text {
    color: #333;
    font-family: "Segoe UI";  
    font-size: 15px;                     
    line-height: 1.5;                    
    font-weight: 400;                  
    padding: 10px 0;                     

}

.info-text {
  color: #333;
  font-family: "Segoe UI";
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  padding: 10px 0;
}


.container, .card {
  border: none !important;
}

  .position-relative {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.95);
    
  }

  .section {
    background-color: #f8f5f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 20px;
    
  }
  
  .section h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .section p {
    color: #666;
    font-size: 16px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: rgb(10, 10, 10);
  }
  
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0);
  }
  

  
  .card-body {
    background-color: #45656C;
    
}




  .custom-list {
    list-style: none;
    padding-left: 0;
  }
  
  .custom-list li:before {
    content: "\2022";
    color: #ff7f00; /* Customize the color of the bullet point */
    font-size: 1.2em; /* Customize the size of the bullet point */
    margin-right: 0.5em; /* Customize the spacing between the bullet point and the list item */
  }


  body {
    background-color: #2b3345;
}

// TopAttractions.scss

.card-text, .card-title, .section h2, .custom-list li {
  color: ivory;
}

.card {
  background-color: #2b3345;
}

.section, .custom-list li {
  background-color: #45656C;;
  color: ivory;
}

.section h2 {
  color: ivory;
}

.custom-title-position {
  align-items: flex-start;  // Aligns the title to the top of the container
  padding-top: 10px;        // Gives some spacing from the top edge of the image
}



.custom-title-bg {
  background-color: #2b3345;  // Specified background color
  border-radius: 5px;         // Gives the rounded corners
  display: inline-block;      // Makes the background fit to the content size
  padding: 5px 10px;          // Adds some spacing around the text
  opacity: 0.8;               // You can adjust this for desired transparency
}
