// RegisterForm.scss

$primary-color: #DCD7C9;
$background-color: #2C3639;

.ant-input,
.ant-select-selector,
.ant-btn {
  border-radius: 6px; // Set the desired border radius for the input fields, select, and buttons
  border: 1px solid #d9d9d9; // Add a border to the input fields, select, and buttons
}

.ant-form-item-label {
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: $primary-color; // Set label font color
  }
}

.ant-form-item-control-input-content {
  color: $primary-color; // Set input content font color
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  padding: 20px;

  .form-container {
    margin-top: 20px;

    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 25px;
      color: $primary-color;
    }

    .ant-form {
      font-family: Arial, sans-serif;

      .ant-form-item {
        margin-bottom: 24px;
      }

      &-control {
        .ant-input-affix-wrapper {
          input[type="password"] {
            padding-right: 40px;
          }
        }
      }

      &-explain {
        margin-top: 10px;
      }
    }

    .ant-btn-primary {
      margin-top: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .form-container {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 577px) {
    height: 125vh;
  }
}
