.DestinationBusyness{
  .top{
    padding: 100px;
  }
  .bottom{
    // padding: 100px;
    .desc{
      padding:100px;
      color: #ccad37;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      border-bottom: 1px solid #000;
    }
    .Echart{
      width: 100%;
      height: 400px;
    }
  }

}