// Login.scss

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b3345;
}

.login-content {
  text-align: center;
}
.login-form {
  width: 50vw;
  margin-top: 5px;
}
.login-title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
  textAlign: center;
  color: #DCD7C9; /* Change the color of the title */
  @media (max-width: 445px) {
      font-size: 50px;
    }
}

.login-form {
  width: 50vw;
  margin-top: 5px;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-form-button {
  width: 100%;
  background-color: #1890ff;
  border-color: #1890ff;
  color: #DCD7C9; /* Change the color of the login button */
}

.login-form-button:hover,
.login-form-button:active,
.login-form-button:focus,
.login-form-button:visited {
  background-color: #40a9ff;
  border-color: #40a9ff;
  color: #DCD7C9; /* Change the color of the login button on different states */
}

.login-form-forgot {
  @media (min-width: 445px) {
    float: right;
  }
  display: block;
  color: #DCD7C9 !important; /* Change the color of "Forgot password" */
}
.login-form {
  width: 50vw;
  margin-top: 5px;
}
.login-form-forgot:hover,
.login-form-forgot:active,
.login-form-forgot:focus,
.login-form-forgot:visited {
  color: #DCD7C9 !important; /* Change the color of the "Forgot password" on different states */
}
