

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

body {
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;

}

.shadow {

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.custom-tabs {
  height: 100%;
}

.custom-tabs .ant-tabs-tab {
  font-size: 18px; /* You can adjust the font size here */
  padding: 30px 40px; /* You can adjust the padding here */
}
.custom-container {
  padding-left: 0;
  padding-right: 0;
}


  .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.form-group {
  margin-bottom: 1.5rem;
}

.nav-pills {
  a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
    i {
      width: 20px;
    }
  }
}

.img-circle {
  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
  }
}
@media (max-width: 576px) {
  .profile-tab-nav {
    min-width: 100%;
  }
  .tab-content {
    flex: initial;
  }
  .nav-pills {
    a.nav-link {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
}

/* For screens between 576px and 768px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  .profile-tab-nav {
    min-width: 100%;
  }
  .nav-pills {
    a.nav-link {
      padding: 12px 15px;
      font-size: 16px;
    }
  }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
  .profile-tab-nav {
    min-width: 250px;
  }
  .tab-content {
    flex: 1;
  }
  .nav-pills {
    a.nav-link {
      padding: 15px 20px;
      font-size: 18px;
    }
  }
}

.left-container {
    @media (max-width: 775px) {
        width: 100% !important;
    }
  }

.right-container {
    @media (max-width: 775px) {
        width: 100% !important;
    }
}

.user-profile-container {
    height: 100vh;
    @media (max-width: 775px) {
       height: 100%;
    }
}
