
.map-container {
  display: flex;
  height: 100vh;
  background-color: #2C3639;
  color: #DCD7C9;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #2C3639;
  color: #DCD7C9;
  transition: width 0.3s;
}

  .search-bar {
    margin-bottom: 20px;

    // Increase Autocomplete input size
    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }

  .time-configuration {
    margin-bottom: 30px;


    // Increase DatePicker size
    .ant-picker {
      width: 100%;
    }
  }

  .filter-section {
    margin-bottom: 30px;

    .filter-option {
       font-size: 16px;
      .ant-dropdown-link {
        font-size: 16px;
      }
    }
  }

  .search-button-container {
    // Increase search button font size
    button {
      font-size: 18px;

    }
  }





.map {
  flex: 1;
  background-color: #2C3639;
  transition: flex 0.3s;
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }

  .sidebar,
  .map {
    width: 100%;
  }

  .sidebar {
    position: absolute;
    z-index: 10;
    transition: left 0.3s;
  }

  .map {
    margin-left: 0;
    transition: margin-left 0.3s;
  }

  .map-container.open-drawer .sidebar {
    left: 0;
  }

  .map-container.open-drawer .map {
    margin-left: 300px;
  }
}
