
.map-container {
  display: flex;
  height: 100vh;
  background-color: #2b3345;
  color: #DCD7C9;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 100px); 
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #2b3345;
  color: #DCD7C9;
  overflow-y: auto; /* Enable vertical scroll when the content overflows the height */
  transition: width 0.3s;
}

.sidebar table {
  border-collapse: collapse; 
  width: 100%; 
}

.sidebar th,
.sidebar td {
  border: none; 
  padding: 8px; 
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 0px;
  border: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.tr{
  border: none;
}

.table th {
  background-color: #f2f2f2;
}

.weather-icon {
  width: 35px; 
  height: 35px; 
}

.weather-forecast {
  position: absolute;
  background-color: white;
  width: 35%;
  left:30%;
  top:1%;
  border-radius: 20px; /* Add border-radius to make the box rounded */
  z-index: 1;
  overflow: hidden; /* Hide any content that overflows, ensuring rounded corners */
}

.weather-table {
  position: absolute;
  background-color: white;
}

.weather-font{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

  .search-bar {
    margin-bottom: 20px;

    // Increase Autocomplete input size
    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }

  .time-configuration {
    margin-bottom: 30px;


    // Increase DatePicker size
    .ant-picker {
      width: 100%;
    }
  }

  .filter-section {
    margin-bottom: 30px;

    .filter-option {
       font-size: 16px;
      .ant-dropdown-link {
        font-size: 16px;
      }
    }
  }

  .search-button-container {
    display: flex;
    justify-content: space-around; /* Adds space between buttons */
    margin-bottom: 20px; /* Adds some margin to the bottom of the button container */
  }
  


/* Modify the Switch's handle size and position */
.ant-switch-handle {
  width: 25px !important;
  height: 25px !important;
  top: 7px !important;
}

/* Position when the switch is checked */
.ant-switch-checked .ant-switch-handle {
  left: auto !important;
  right: 3px !important; /* adjust as needed */
}

/* Center the Switch's text vertically */
.ant-switch-checked .ant-switch-inner, .ant-switch .ant-switch-inner {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
}




.button:hover {
  transform: scale(1.05); /* Makes the button slightly bigger when hovered */
}

/* Individual styles for the search button */
.search-button {
  background-color: #fefefe; /* Light blue */
  color: rgb(0, 0, 0); /* White text */
}

/* Individual styles for the geo button */
.geo-button {
  background-color: #ffffff; /* Lime green */
  color: rgb(0, 0, 0); /* White text */
}

/* Individual styles for the geo button */
.routing-button {
  background-color: #ffffff; /* Lime green */
  color: rgb(0, 0, 0); /* White text */
}

.map {
  flex: 1;
  background-color: #2C3639;
  transition: flex 0.3s;
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }

  .sidebar,
  .map {
    width: 100%;
  }

  .sidebar {
    position: absolute;
    left: -300px;
    z-index: 10;
    transition: left 0.3s;
  }

  .map {
    margin-left: 0;
    transition: margin-left 0.3s;
  }

  .map-container.open-drawer .sidebar {
    left: 0;
  }

  .map-container.open-drawer .map {
    margin-left: 300px;
  }
}
