.map-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #2C3639;
  color: #DCD7C9;
}
.sidebar {
  // Add spacing around the sidebar
  padding: 20px;


  .search-bar {
    margin-bottom: 20px;

    // Increase Autocomplete input size
    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }

  .time-configuration {
    margin-bottom: 30px;

    // Increase DatePicker size
    .ant-picker {
      width: 100%;
    }
  }

  .filter-section {
    margin-bottom: 25px;

    .filter-option {
      // Increase Dropdown menu font size
      .ant-dropdown-link {
        font-size: 16px;
      }
    }
  }

  .search-button-container {
    // Increase search button font size
    button {
      font-size: 16px;

    }
  }
}


.map {
  width: 80%;
}


@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }

  .sidebar,
  .map {
    width: 100%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .map {
    width: 60%;
  }

  .drawer {
    width: 20%;
  }
}