.resetpasswordContainer {
  background-color: #2b3345;
  height: 100vh; /* Use viewport height to make the container cover the entire screen */
  display: flex;
  align-items: center;
  justify-content: center;
}


.password-reset-form {
  max-width: 400px;
  height: auto; /* Set to auto for variable height */
  max-height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-reset-form h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.password-reset-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.password-reset-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Increase the border-radius for more rounded corners */
  transition: border-color 0.3s; /* Add transition for hover effect */
}

.password-reset-form input:hover {
  border-color: #55818e; /* Highlight border on hover */
}

.password-reset-form input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #627B82; /* Change border color when focused */
}

.password-reset-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #627B82;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.password-reset-form button:hover {
  background-color: #55818e;
}

.password-reset-form p {
  margin-top: 15px;
  text-align: center;
  color: #d9534f;
}
